whatsapp chat.json
{
  "name": "whatsapp chat",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a smart food ordering assistant for \"MDA Restaurant\".  \n\nRules:  \n\n1. When a user sends their first message (like hi, hello), reply with:  \n\"Welcome to MDA Restaurant 🍽️  \nHow can I help you today?  \n- 🛒 Place an order  \n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\"  \n\n(👉 Keep the tone friendly like a food delivery app, not like a product e-commerce site)  \n\n2. If user wants *order*:  \n- Ask step by step: name, food item, quantity  \n- Check Inventory sheet before confirming  \n   - If available → \"Your order for *[item]* (x quantity) is confirmed ✅\"  \n   - If not available → \"Sorry, *[item]* is out of stock ❌. Available options: [list items]\"  \n- Only confirmed orders go into the Orders sheet  \n- In Orders sheet always include:  \n   Status = Confirmed / Rejected  \n   Description = \"Order accepted (item available)\" OR \"Order rejected (out of stock)\"  \n\n3. If user wants *FAQ*:  \n- Answer short and clear (delivery time, payment method, restaurant hours)  \n\n4. If user wants *check order* or *check stock*:  \n- Ask for food name or order id  \n- Look up in Google Sheets (Orders / Inventory)  \n   - If checking order → reply with status (Confirmed / Rejected / Cancelled / Delivered)  \n   - If checking stock → reply with available quantity of that food  \n   - Also list all *available* food items with quantity if requested  \n\n5. If user wants *cancel order*:  \n- Reply politely:  \n  \"Sorry 🙏 I cannot cancel orders directly.  \n   Please call the restaurant owner first and inform them.  \n   Owner Contact: +95 1224567890\"  \n\n6. Always reply in short text like a normal WhatsApp chat  \n- Do not use **bold** or long paragraphs  \n- Use *stars* only for highlighting words  \n- Keep tone friendly, polite, and food-delivery app style  "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -128,
        -160
      ],
      "id": "42db50eb-b9e5-4e53-857a-b21717892bc7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        112
      ],
      "id": "346be034-5f6b-45b7-809b-e63283d8520a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KIBSwBAqoIATWlrA",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        128
      ],
      "id": "d41e3c17-06bc-4407-b493-cedbcbfc7a37",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4",
          "mode": "list",
          "cachedResultName": "n8n whatsapp chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2082054145,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit#gid=2082054145"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        272,
        112
      ],
      "id": "114de545-437c-4ce0-b959-bfbbcd94c711",
      "name": "FAQ1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JGIRa2T0jn5X8gaZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4",
          "mode": "list",
          "cachedResultName": "n8n whatsapp chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        160,
        96
      ],
      "id": "36dd65b0-118d-4c99-9375-b395a7965bd1",
      "name": "Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JGIRa2T0jn5X8gaZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4",
          "mode": "list",
          "cachedResultName": "n8n whatsapp chat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 851357937,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o_NsQ4z4ddB5I9NasDYh6dRL5-2N1Y7SkXvrFqMtIc4/edit#gid=851357937"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Order Date": "={{ $now.format('yyyy-MM-dd HH:mm:ss a')}}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        80
      ],
      "id": "2ccb0743-a9f3-4fdc-8b31-4ce2cd3aec3c",
      "name": "POST",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JGIRa2T0jn5X8gaZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -176
      ],
      "id": "ab34539c-298e-44c9-9906-402c6c69223d",
      "name": "WhatsApp Trigger",
      "webhookId": "1e4c01b8-5363-4df9-9908-3eb9afd6e316",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "weL1gEk8JXSeC0jZ",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "923689990830383",
        "recipientPhoneNumber": "+9779843781697",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        320,
        -160
      ],
      "id": "9c80d308-710f-4c48-95f4-7ae85c0a65e7",
      "name": "Send message",
      "webhookId": "75aa9498-1c10-48e0-b802-b8eaddec2af5",
      "credentials": {
        "whatsAppApi": {
          "id": "xyvfA1Bp0t3z9Z1T",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -224,
        96
      ],
      "id": "eeb1ee55-a291-4055-b909-2f40b639aaa5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "s7LmzJdAnpkLFkG9",
          "name": "Groq account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "FAQ1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "POST": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "088c1dd8-0ea8-406a-a2e9-726a26acb308",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1625cbea73d5673da4aa4c7329c6cabd45e19db10237d6c2eae7a9770a81e3fe"
  },
  "id": "YG3LjNt5bIBCK1Kd",
  "tags": []
}